@import "~@/global.less";

.loginBox {
    width: 100vw;
    height: 100vh;
    .flex();
    align-items: center;
    justify-content: center;
    background-image: url(../../../static/image/login-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .loginForm {
        width: 350px;
        background: rgba(255, 255, 255, 0.4);
        border-radius: 8px;
        padding: 25px;

        .loginIcon {
            color: rgba(0, 0, 0, 0.25);
        }

        .submit {
            width: 100%;
        }

        .forgot{
            float: right;
        }
    }
}